.starter-template {
    padding: 40px 15px;
    text-align: center;
}
body{
    background: url(../img/bg.jpg) center no-repeat;
}

.text {
    color: white;
    font-size: large;
    line-height: 50px;
}
p.hint{
    font-size: large;
    padding-top: 20px;
    font-style: italic;
    color: white;
}
.container{
    padding-top: 50px;
}